<div class="container">
<ul class="main-list">
    {{#each tasks}}
        <li class="main-list__item">
            <ul class="minor-list">
                <li class="minor-list__item list-group-item col-sm-2 date"><p>{{date}}</p></li>
                <li class="minor-list__item list-group-item col-sm-4 title"><p>{{title}}</p></li>
                <li class="minor-list__item list-group-item col-sm-1 start-time"><p>{{start_time}}</p></li>
                <li class="minor-list__item list-group-item col-sm-1 end-time"><p>{{end_time}}</p></li>
                <li class="minor-list__item list-group-item col-sm-1 done"><p>{{done}}</p></li>
                <li class="minor-list__item list-group-item col-sm-1">
                    <!--<form action="/?_method=PUT" method="post">-->
                        <button class="btn btn-warning" type="button" name="edit-button" value="{{id}}">Edit</button>
                    <!--</form>-->
                </li>
                <li class="minor-list__item list-group-item col-sm-1">
                    <form action="/?_method=DELETE" method="post">
                        <button class="btn btn-danger" type="submit" name="delete-button" value="{{id}}">Del</button>
                    </form>
                </li>
            </ul>
        </li>
    {{/each}}
</ul>


<form class="form-inline" action="/" method="post">
    <input class="form-control col-sm-8" type="text" name="title" placeholder="Default input" required>
    <input class="form-control col-sm-1" type="text" name="start_time" placeholder="start input" required>
    <input class="form-control col-sm-1" type="text" name="end_time" placeholder="end input">
    <input class="form-control col-sm-1" type="checkbox" name="done" placeholder="end input">
    <button type="submit" class="btn btn-primary">+</button>
</form>
</div>